/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04-mar-2016, 11:01:24
    Author     : scorpio
*/


/* Button Alert */
.changebtn{
    padding-top:10px; 
    padding-left:5px; 
    padding-right:5px;
    padding-bottom:10px;
}

.btnsit, .btnman, .btnvis, .btnfin, .btnpru{
    display : none;
    font-family: Arial;
    font-size: 8pt;
}

.tablageomap{
    top:125px; 
    position: fixed; 
    overflow: auto; 
    left: 50px; 
    height: 350px; 
    display: block;
}

.gridclass {
    font-size: 8pt;
}

.image-user {
    background-image: url("images/239.png");
}

.alertas {
    
}