/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-feb-2016, 7:46:41
    Author     : scorpio
*/

.btnlockstop {
    background: url(stop.png) center center no-repeat;
    width: 250px;
    height: 250px;
}

.btnlocktools {
    background: url(tools.png) center center no-repeat;
    width: 250px;
    height: 250px;
}