/*
    Created on : 25-feb-2016, 7:46:41
    Author     : scorpio
*/
.box{
    width: 34%;
    margin: 0px auto;
    border: 1px solid #dedede;
    background: #f2f4f8;
    position: absolute;
    right: 32px;
}
.box .usr_container,
.box .msg_container{
    float: left;
    height: 700px;
    overflow-x: hidden;
    overflow-y: auto;
}
.box .usr_container{
    left: 0px;
    width: 200px;
    border-right: 1px solid #dedede;
    background: #fff;
}
.box .msg_container{
    /*width: 60%;*/
    height: 620px;
    position: absolute;
    right: 15px;
    left: 227px;
    /*border: 1px solid;*/
}
.box ul{
    margin: 0;
    padding: 0;
}
.box ul li{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
    cursor: pointer;
}

.box .usr_container ul li{
    padding: 8px 4px;
    background: #fff;
    border-bottom: 1px solid #dedede;
}
.box .usr_container ul li label{
    display: block;
    width: 100%;
    font-family: arial;
    font-weight: 400;
    color: #333;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 8pt;
}
.box .usr_container ul li label:hover{
    cursor: pointer;
}
.box .usr_container ul li span{
    color: #777;
    font-family: arial;
    font-size: 12px;
    font-style: italic;
}
.box .usr_container ul li.selected{
    background: #f2f4f8;
}
.box .usr_container ul li.selected label{
    color: #e34749;
}
.box .usr_container ul li.selected span{
    color: #000;
}
.box .usr_container ul li:hover{
    background: #dedede;
    cursor: pointer;
}
.box .msg_container ul{
    padding: 10px 0;
    margin-bottom: 75px;
}
.box .msg_container li{
    padding: 10px 0;
}
.box .msg_container li.others{
    cursor: auto;
    text-align: left;
    padding-left: 5px;
}
.box .msg_container li.self{
    text-align: right;
    cursor: auto;
    padding-right: 5px;
}
.box .msg_container li.self label{
    float: right;
}

.box .msg_container li .message{
    font-size: 10pt;
    font-family: arial;
    float: left;
    line-height: 16px;
    margin: 5px 0 5px 0;
    width: 100% !important;
    word-wrap : break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.box .msg_container li .contenido_others{
    background: #fff;
    border-radius: 3px;
    padding: 12px;
    max-width: 200px;
    font-family: arial;
    float: left;
    line-height: 16px;
    margin: 3px 3px 3px 3px;
    word-wrap : break-word;
    width: 50%;
}

.messagebagde{
    float: right;
}

.messagebagdeiz{
    float: left;
}

.box .msg_container li .contenido_self{
    /*background: #dee2ef;*/
    background: #64d273;
    border-radius: 1px;
    padding: 12px;
    max-width: 200px;
    font-family: arial;
    float: right;
    line-height: 16px;
    margin: 3px 3px 3px 3px;
    word-wrap : break-word;
    width: 50%;
}

.box .msg_container li label{
    float: left;
    display: block;
    width: 100%;
    font-size: 10px;
    color: #777;
    font-family: arial;
}

.box .msg_container li.others .timemessage{
    font-size: 10px;
}

.box .msg_container li.self .timemessage{
    font-size: 10px;
    /*background: #dee2ef;*/
    background: #64d273;
}

.box .msg_container li.self .message{
    /*background: #dee2ef;*/
    background: #64d273;
    float: right;
    display: inline-block;
}
.clear{
    clear:both;
}
.send_container{
    border-top: 1px solid #dedede;
    background: #f7f9fd;
    position: absolute;
    bottom: 15px;
    height:75px;
    left: 227px;
    right: 15px;
}
.send_container textarea{
    background: #f7f9fd;
    height: 65px;
    width: 68%;
    font-size: 15px;
    text-align: left;
    padding: 10px;
    border: 0px solid;
    resize: none;
    outline: none;
}
.send_container input[type="button"]{
    position: absolute;
    /*top: 20px;*/
    right: 0px;
    padding: 10px;
    background: #e34749;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}
.btn_send{
    padding: 5px;
    background: #e34749;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}
.box .msg_container li label.name{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
div.container{
    /*width: 20px;*/
    margin: 0 auto;
}
select.select_single{
    padding: 10px;
    font-size: 16px;
    width: 400px;
}
select.select_single option{
    font-size: 19px;
}
select.select_multiple{
    font-size: 15px;
    width: 400px;
    height: 200px;
}
select.select_multiple option{
    padding: 5px;
}
textarea.textarea_msg{
    width: 170px;
    height: 120px;
    resize: none;
    margin:10px auto;
    padding: 15px;
    background: #f7f9fd;
    font-size: 15px;
}
input.gcm_token{
    width: 400px;
    resize: none;
    margin:20px auto;
    padding: 15px;
    background: #f7f9fd;
    font-size: 15px;
}
.loader{
    display: none;
}
pre{
    width: 800px;
    text-align: left !important;
    font-size: 16px;
    font-family: monospace;
    margin: 0 auto;
    line-height: 20px;
}
.separator{
    width: 100%;
    height: 1px;
    background: #cdcdcd;
    margin: 50px 0;
}
btn
.topics{
    text-align: center;
    padding-top: 100px;
}
.topics h2.heading{
    font-size: 20px;
    color: #666;
    font-weight: 400;
    display: block;
}

.chatusr{
    width: 200px;
    margin: 0px auto;
    position: absolute;
    top : 470px;
    left: 16px;
    background: #fff;
}

.badge {
  padding: 1px 9px 2px;
  font-size: 12.025px;
  font-weight: bold;
  white-space: nowrap;
  color: #ffffff;
  background-color: #999999;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
.badge:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.badge-success {
  background-color: #468847;
  color: #ffffff !important;
}
.badge-success:hover {
  background-color: #356635;
  color: #ffffff !important;
}