/* 
    Created on : 14-jun-2016, 7:17:01
    Author     : scorpio
*/
.ajustetree{
    overflow: auto;
    min-height: 768px;
    max-height: 1024px;
}

.editab {
    width: 100%;
    float:left;
    display: block;
    position: relative;
}

.editab thead tr th{
    text-align: center;
    font-size: 0.7em;
    background: rgba(0,0,0,0.1);
    color : #000;
    font-weight: bold;
}

.editab tbody {
    display: block;
    width: 100%;
    height: 300px;
    overflow: scroll;
}

.editab tfoot {
    display: block;
    background: rgba(0,0,0,0.1);
    width: 100%;
    height: 50px;
    overflow: scroll;
    font-weight: bold;
}

.editab td, .editab th {
    padding: 9px 10px;
    text-align: left;
    width: 85px;
    height: 32px;
    overflow: hidden;
    display: block;
    float: left;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    border-right: 1px solid rgba(0,0,0,0.2);
    font-size: 0.7em;
    vertical-align: middle;
    text-overflow: ellipsis;
}

.editab tbody tr td:nth-child(1){
    vertical-align: middle;
    text-align: center;
}

.editab tfoot tr td:nth-child(1){
    vertical-align: middle;
    text-align: center;
}

.editab thead tr th:nth-child(2) {
    vertical-align: middle;
    width: 150px;
}

.editab tbody tr td:nth-child(2) {
    padding: 0;
    width: 150px;
    text-overflow: ellipsis;
}

.editab tfoot tr td:nth-child(2) {
    vertical-align: middle;
    width: 150px;
    text-overflow: ellipsis;
}

.editab tbody tr td:nth-child(3), .editab tbody tr td:nth-child(4), .editab tbody tr td:nth-child(5), .editab tbody tr td:nth-child(6),
.editab tbody tr td:nth-child(7), .editab tbody tr td:nth-child(8), .editab tbody tr td:nth-child(9), .editab tbody tr td:nth-child(10),
.editab tbody tr td:nth-child(11), .editab tbody tr td:nth-child(12), .editab tbody tr td:nth-child(13), .editab tbody tr td:nth-child(14),
.editab tbody tr td:nth-child(15){
    text-align: right;
}

.editab tfoot tr td:nth-child(3), .editab tfoot tr td:nth-child(4), .editab tfoot tr td:nth-child(5), .editab tfoot tr td:nth-child(6),
.editab tfoot tr td:nth-child(7), .editab tfoot tr td:nth-child(8), .editab tfoot tr td:nth-child(9), .editab tfoot tr td:nth-child(10),
.editab tfoot tr td:nth-child(11), .editab tfoot tr td:nth-child(12), .editab tfoot tr td:nth-child(13), .editab tfoot tr td:nth-child(14),
.editab tfoot tr td:nth-child(15){
    text-align: right;
}

.editabv {
    width: 100%;
    float:left;
    display: block;
    position: relative;
}

.editabv thead tr th{
    text-align: center;
    font-size: 0.9em;
    background: rgba(0,0,0,0.1);
    color : #000;
    font-weight: bold;
}

.editabv tbody {
    display: block;
    width: 100%;
    height: 300px;
    overflow-x: hidden;
}

.editabv tfoot {
    display: block;
    width: 100%;
    background: rgba(0,0,0,0.1);
    color : #000;
    font-weight: bold;
    text-align: center;
}

.editabv td, .editabv th {
    padding: 9px 10px;
    text-align: left;
    width: 180px;
    height: 30px;
    overflow: hidden;
    display: block;
    float: left;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    border-right: 1px solid rgba(0,0,0,0.2);
    font-size: 0.9em;
    vertical-align: middle;
    word-wrap: break-word;
}

.editabv tfoot tr td:nth-child(2), .editabv tbody tr td:nth-child(2), .editabv thead tr th:nth-child(2) {
    width: 230px;
}

.editabv tbody tr td:nth-child(3), .editabv tbody tr td:nth-child(4), .editabv tbody tr td:nth-child(5), .editabv tbody tr td:nth-child(6){
    text-align: right;
}

.editabv tfoot tr td:nth-child(3), .editabv tfoot tr td:nth-child(4), .editabv tfoot tr td:nth-child(5), .editabv tfoot tr td:nth-child(6){
    text-align: right;
}

.detalcolor{
    color : black;
}

.detalcolor h2 span{
    font-size: 2em;
}


ul.menucolores{
    width: 100%;
    float: left;   
}

ul.menucolores li {
    padding: 0;
    margin: 0;
}
ul.menucolores li p{
    margin: 5px 0;
    color : #ffffff;
}
.azul{
    background-color: #428bca !important;
}
.verde{
    background-color: #5cb85c !important;
}
.amarillo{
    background-color: #f0ad4e !important;
}
.rojo{
    background-color: #d9534f !important;
}
ul.menucolores li a:hover{
    background: transparent !important;
    background-color: #193B58 !important;
}
ul.menucolores li a:active{
    background: transparent !important;
    background-color: #193B58 !important;
}

#panelfiltro {
    position: absolute;
    top: 86px;
    background-color: #f8f8f8;
    display: none;
    width: 30%;
}

@media screen and (max-width: 770px) {
    #panelfiltro {
        position: absolute;
        top: 250px;
        background-color: #f8f8f8;
        display: none;
        width: 70%;
    }
}