/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-may-2016, 7:32:05
    Author     : scorpio
*/

.citastb{
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}

.citastb tr td{
    padding: 0 !important;
}

.table {
  background-color: white;
  font-size:0.9em;
}

 .table tr td,
 .table tr th {
  padding: 5px 10px 5px 10px !important;
  min-width: 70px;
}

.fixedTable-header {
  overflow: auto;
  width: 98.5%;
  float: left;
}
.fixedTable-sidebar {
  width: 100%;
  height: 530px;
  float: left;
  overflow: hidden;
}
.fixedTable-body {
  overflow: auto;
  width: 100%;
  height: 530px;
  float: left;
}