/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 26, 2015, 2:51:30 PM
    Author     : rsanchez
*/

#footer{
    text-align: center;
}

html,body{
    height: 100%;
}

/*Espacio para el menu*/

.sidebar{
    /*margin-top: 0px;*/
    background-color: #F8F8F8;
    z-index: 1;
    position: absolute;
    width: 140px;
    height: 100%;
    border: 1px solid #ccc;
}

#page-wrapper{
    padding-top:50px;
    margin-bottom:70px;
}

#footer{
    height: 45px;

    border: 1px solid #ccc;
    background-color: #F8F8F8;
    position:fixed;
    bottom: 0px;
    left: 140px;
    right: 0px;
    text-align:center;
    display: block;
    overflow: auto;
    z-index:1040;
    font-size: 0.7em;
}

.waitWindow {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: rgba(255, 255, 255, 0.8);
    z-index: 99999;
    pointer-events: none;
    line-height: 100%;
    display: block;
    vertical-align: middle;
    text-align: center;
}

.waitWindow > div {
    width: 150px;
    height: 150px;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin: auto;
}

.clase{
    background-color: #ccc;
}
