/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14-jun-2016, 7:17:01
    Author     : scorpio
*/
.subvar{
    width: 100%;
    /*height: 92px !important;*/
    background-color: #F8F8F8;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.subvar .form{
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 0.8em;
    padding: 0px;
    color: #777;
    height: 86px;
    margin-top: 2px;
    float:left;
    padding: 2px;
    line-height: 86px;
    vertical-align: middle;
    padding-top: 28px;
    position:absolute;
    left: 230px;
    right: 3px;
}

.subvar .form input, .form button{
    height: 28px;
}


.col{
    height: 92px;
    float: left;
    padding: 1px;
}


.opc{
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 0.8em;
    padding: 0px;
    color: #777;
}

.opc-div{
    width: 1px;
    height: 86px;
    margin-top: 1px;
    margin-left: 2px;
    margin-right: 2px;
    border: 1px solid #ccc;
}

.opc:hover{
    background-color: #eee;
}

.opc-big{
    width: 86px;
    height: 86px;
    margin-top: 1px;
}

.opc-lng{
    width: 100px;
    height: 28px;
    margin-top: 1px;
    line-height: 28px;
    vertical-align: middle;
    text-align: left;
    padding: 0px 4px 0px 4px;
}
.opc-sml{
    width: 28px;
    height: 28px;
    margin-top: 1px;
    margin-left: 1px;
    display: block;
    float: left;
    line-height: 28px;
    vertical-align: middle;
}

.opc-big span{
    font-size: 4em;
    margin-top: 10px;
    margin-bottom: 4px;
    display:block;
    text-align:center;
}

.opc-lng span{
    font-size: 1.4em;
    display: block;
    margin-left: 3px;
    margin-top: 5px;
    margin-right: 3px;
    float:left;
}

.opc-sml span{
    font-size: 1.4em;
    margin-top: 5px;
}

.opc-lst{
    width: 45px;
    height: 20px;
    text-align: left;
    padding: 3px;
}

.opc-lst span{
    font-size: 1.0em;
}

.filtros{
    border-right: 1px solid #ccc;
    font-size: 1.1em;
    overflow: auto;
    height: 720px;
}

.registros{
    border-right: 1px solid #ccc;
    font-size: 0.9em;
    overflow: auto;
    height: 720px;
}

.filtros .fltitle{
    position: absolute;
    top: 0;
    height: 30px;
    width: 100%;
    border:1px solid #ccc;
    line-height: 30px;
    vertical-align: middle;
    font-size: 1.4em;
    font-weight: bold;
    padding: 0px 9px 0px 9px;
    background-color: #ddd;
}

.filtros .flspace{
    position: absolute;
    top: 30px;
    bottom: 0px;
    width: 100%;
    overflow: auto;
}

.ajustetree{
    overflow: auto;
    min-height: 768px;
    max-height: 1024px;
}

.editab {
    width: 100%;
    float:left;
    display: block;
    position: relative;
}   

.editab thead tr th{
    text-align: center;
    font-size: 0.7em;
    background: rgba(0,0,0,0.1);
    color : #000;
    font-weight: bold;
}

.editab tbody {
    display: block;
    width: 100%;
    height: 300px;
    overflow: scroll;
}

.editab tfoot {
    display: block;
    background: rgba(0,0,0,0.1);
    width: 100%;
    height: 50px;
    overflow: scroll;
    font-weight: bold;
}

.editab td, .editab th {
    padding: 9px 10px;
    text-align: left;
    width: 85px;
    height: 32px;
    overflow: hidden;
    display: block;
    float: left;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    border-right: 1px solid rgba(0,0,0,0.2);
    font-size: 0.7em;
    vertical-align: middle;
    text-overflow: ellipsis;
}

.editab tbody tr td:nth-child(1){
    vertical-align: middle;
    text-align: center;
}

.editab tfoot tr td:nth-child(1){
    vertical-align: middle;
    text-align: center;
}

.editab thead tr th:nth-child(2) {
    vertical-align: middle;
    width: 150px;
}

.editab tbody tr td:nth-child(2) {
    padding: 0;
    width: 150px;
    text-overflow: ellipsis;
}

.editab tfoot tr td:nth-child(2) {
    vertical-align: middle;
    width: 150px;
    text-overflow: ellipsis;
}

.editab tbody tr td:nth-child(3), .editab tbody tr td:nth-child(4), .editab tbody tr td:nth-child(5), .editab tbody tr td:nth-child(6),
.editab tbody tr td:nth-child(7), .editab tbody tr td:nth-child(8), .editab tbody tr td:nth-child(9), .editab tbody tr td:nth-child(10),
.editab tbody tr td:nth-child(11), .editab tbody tr td:nth-child(12), .editab tbody tr td:nth-child(13), .editab tbody tr td:nth-child(14),
.editab tbody tr td:nth-child(15){
    text-align: right;
}

.editab tfoot tr td:nth-child(3), .editab tfoot tr td:nth-child(4), .editab tfoot tr td:nth-child(5), .editab tfoot tr td:nth-child(6),
.editab tfoot tr td:nth-child(7), .editab tfoot tr td:nth-child(8), .editab tfoot tr td:nth-child(9), .editab tfoot tr td:nth-child(10),
.editab tfoot tr td:nth-child(11), .editab tfoot tr td:nth-child(12), .editab tfoot tr td:nth-child(13), .editab tfoot tr td:nth-child(14),
.editab tfoot tr td:nth-child(15){
    text-align: right;
}

.editabv {
    width: 100%;
    float:left;
    display: block;
    position: relative;
}

.editabv thead tr th{
    text-align: center;
    font-size: 0.8em;
    background: rgba(0,0,0,0.1);
    color : #000;
    font-weight: bold;
}

.editabv tbody {
    display: block;
    width: 100%;
    height: 300px;
    overflow-x: hidden;
}

.editabv tfoot {
    display: block;
    width: 100%;
    background: rgba(0,0,0,0.1);
    color : #000;
    font-weight: bold;
    text-align: center;
}

.editabv td, .editabv th {
    padding: 9px 10px;
    text-align: left;
    width: 180px;
    height: 30px;
    overflow: hidden;
    display: block;
    float: left;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    border-right: 1px solid rgba(0,0,0,0.2);
    font-size: 0.8em;
    vertical-align: middle;
    word-wrap: break-word;
}

.editabv tfoot tr td:nth-child(2), .editabv tbody tr td:nth-child(2), .editabv thead tr th:nth-child(2) {
    width: 230px;
}

.editabv tbody tr td:nth-child(3), .editabv tbody tr td:nth-child(4), .editabv tbody tr td:nth-child(5), .editabv tbody tr td:nth-child(6){
    text-align: right;
}

.editabv tfoot tr td:nth-child(3), .editabv tfoot tr td:nth-child(4), .editabv tfoot tr td:nth-child(5), .editabv tfoot tr td:nth-child(6){
    text-align: right;
}

.detalcolor{
    color : black;
}

.detalcolor h2 span{
    font-size: 2em;
}


ul.menucolores{
    width: 100%;
    float: left;   
}

ul.menucolores li {
    padding: 0;
    margin: 0;
}
ul.menucolores li p{
    margin: 5px 0;
    color : #ffffff;
}
.azul{
    background-color: #428bca !important;
}
.verde{
    background-color: #5cb85c !important;
}
.amarillo{
    background-color: #f0ad4e !important;
}
.rojo{
    background-color: #d9534f !important;
}
ul.menucolores li a:hover{
    background: transparent !important;
    background-color: #193B58 !important;
}
ul.menucolores li a:active{
    background: transparent !important;
    background-color: #193B58 !important;
}

.cotelenav{
    text-align: center;
    height: 45px;
    font-size: 1.2em;   
    line-height: 30px;
    vertical-align: middle;
    position: absolute;
    top: 0;
    width: 100%;
    padding-top:3px;
}

.cotelenav .crop-right{
    width: 0px;
    height: 0px;
    border-top: 20px solid #ccc;
    border-bottom: 20px solid #ccc;
    border-left: 20px solid transparent;
    margin-left: -20px;
    margin-right: -5px;
    display: inline-block;
}

.cotelenav .crop-left{
    width: 0px;
    height: 0px;
    border-top: 20px solid #ccc;
    border-bottom: 20px solid #ccc;
    border-right: 20px solid transparent;
    margin-left: -4px;
    margin-right: -8px;
    display: inline-block;
}

.cotelenav .crop-right.on{
    border-top-color: #2a84c0;
    border-bottom-color: #2a84c0;
}

.cotelenav .crop-right.off{
    border-top-color:#a2d6f3;
    border-bottom-color: #a2d6f3;
    cursor: pointer;
}

.cotelenav .crop-left.on{
    border-top-color: #2a84c0;
    border-bottom-color: #2a84c0;
    cursor: pointer;
}

.cotelenav .crop-left.off{
    border-top-color:#a2d6f3;
    border-bottom-color: #a2d6f3;
    cursor: pointer;
}

.cotelenav .crop-right.wow{
    border-top-color:#267f09;
    border-bottom-color: #267f09;
    cursor: pointer;
}

.cotelenav .crop-left.wow{
    border-top-color:#267f09;
    border-bottom-color: #267f09;
    cursor: pointer;
}

.cotelenav .cube{
    height: 40px;
    padding: 0 15px 0 15px;
    line-height: 40px;
    vertical-align: middle;
    font-weight: bold;
    display: inline-block;
    margin-top: -32px !important;
    background: #ccc;
    color: #fff;
    cursor: pointer;
}

.cotelenav .cube.on{
    background: #2a84c0;
    color: #FFF;
}

.cotelenav .cube.off{
    background: #a2d6f3;
    color: #3437BE;
    cursor: pointer;
}

.cotelenav .cubed{
    height: 40px;
    padding: 0 15px 0 15px;
    line-height: 40px;
    vertical-align: middle;
    font-weight: bold;
    display: inline-block;
    margin-top: -32px !important;
    background: #ccc;
    color: #fff;
    cursor: pointer;
}

.cotelenav .cubed.on{
    background: #2a84c0;
    color: #FFF;
}

.cotelenav .cubed.off{
    background: #a2d6f3;
    color: #3437BE;
    cursor: pointer;
}

.cotelenav .cube.wow{
    color: #fff;
}

.cotelenav .arrow-right{
    width: 0px;
    height: 0px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #ccc;
    margin-left: -5px;
    margin-right: 5px;
    display: inline-block;
}

.cotelenav .arrow-left{
    width: 0px;
    height: 0px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #ccc;
    margin-left: -5px;
    margin-right: -5px;
    display: inline-block;
}

.cotelenav .arrow-right.on{ 
    border-left-color:#2a84c0;
}

.cotelenav .arrow-right.off{ 
    border-left-color:#a2d6f3;
    cursor: pointer;
}

.cotelenav .arrow-right.wow{ 
    border-left-color:#267f09;  
}

.cotelenav .arrow-left.on{ 
    border-right-color:#2a84c0;
}

.cotelenav .arrow-left.off{ 
    border-right-color:#a2d6f3;
    cursor: pointer;
}

.cotelenav .arrow-left.wow{ 
    border-right-color:#267f09;  
}

.whitesel {
    color: white;
}